:host {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.body-color {
    background-color: #2c2c2c;
}

.counter-container {
    background-color: #282828;
    padding: 12px 20px;
    border-radius: 8px;

    &>.increment,
    .decrement {
        padding: 12px 10px;
        cursor: pointer;

        &:hover {
            transition: all 200ms ease-in-out;
            box-shadow: 1px 0px 7px #3b3b3b;
        }

        &:hover + .counter-circle {
            border: 1px solid white;
        }
    }

    &>.counter-circle {
        background: #3b3b3b;
        padding: 10px 16px;
    }
}

.color-white {
    color: white;
    ;
}