
<div class="d-flex flex-column align-items-center flex-grow-1 body-color">
  <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <div class="counter-container p-8 d-flex align-items-center">
      <span class="increment color-white d-flex" (click)="imperativeCounterService.decrement()">-</span>

      <span class="counter-circle rounded-circle mx-4 fw-bold color-white d-flex">{{ imperativeCounterService.count.value }}</span>

      <span class="decrement color-white d-flex" (click)="imperativeCounterService.increment()">+</span>
    </div>
    <div class="counter-status color-white mt-4">
      <span>Double: {{ imperativeCounterService.doubleCount.value }} </span>
      <span>Double: {{ imperativeCounterService.isEven ? 'Even' : 'Odd' }} </span>
    </div>
  </div>
 
</div>
