:host {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.body-color {
    background-color: #2c2c2c;
}

.counter-container {
    background-color: #282828;
    padding: 12px 20px;
    border-radius: 35px;

    & > .increment, .decrement {
        padding: 3px 12px;
        cursor: pointer;
        &:hover {
            background: #3b3b3b;
            border-radius: 45%;
            transition: all 200ms ease-in-out;
        }
    }
    & > .counter-circle {
        background: #3b3b3b;
        padding: 10px 16px;
    }
}

.color-white {
    color: white;;
}
